@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
}

.titulo-blog {
    color: #0077b6;
}

.titulo-destaque {
    color: #22D4FD;
}

.texto-destaque {
    color: rgb(46, 133, 214);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15%;
    height: 300px;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 10%;
}

.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
    color: #F6F6F6;
    line-height: 56px;
}

.apresentacao__conteudo__texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #F6F6F6;
    line-height: 36px;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.apresentacao__links__link {
    background-color: #22D4FD;
    width: 300px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
